<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}
    <title>{% block title %}De Vitrine{% endblock %}</title>
    <link href="/static/main.css" rel="stylesheet"/>
    {% endblock %}
    <script async defer data-domain="vitrine.metabotnik.com" src="https://plausible.io/js/plausible.js"></script>
    <script src="/static/main.js"></script>
    {% block head_last %}{% endblock %}
  </head>

  <body>


    {% block content %}{% endblock %}

    <footer class="p-2 bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <a href="/">Overzicht</a>
          </div>
          <div class="col-2">
            <a href="/over.html">Over deze site</a>
          </div>

          <div class="col">

            <a href="mailto:p.dijstelberge@me.com" title="Mail Paul Dijstelberge">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg></a>
          </div>

        </div>
      </div>
    </footer>
  </body>  
</html>
