@font-face {
  font-family: "Lektorat";
  font-style: normal;
  src: local(""), url("./fonts/LektoratDisplay_var.woff2") format("woff2");
}

@font-face {
  font-family: "Arnoldo";
  font-style: normal;
  src: local(""),
    url("./fonts/LFT_Arnoldo_Variable-Upright.woff2") format("woff2");
}
