@import "bootstrap";
@import "fonts";

header {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: black;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2vh;
  line-height: 1.45;
}

footer {
  margin-top: 10vh;
  height: 15vh;
}

img {
  margin-top: 2ch;
  width: 100%;
}

blockquote {
  margin: 2ch 0 3ch 0;
  padding-left: 2ch;
  font-style: italic;
  width: 75%;
}

.maintitle {
  color: red;
  font-family: Lektorat;
}
